body,html {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    
}
nav{
    background-color: rgb(40, 44, 255);
    width: 100%;
    height: 10%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-content: center;
    
}
nav h1{
    color: white;
    text-align: center;
}
nav ul li{
    list-style: none;
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    
}
nav ul li a{
    color: white;
    font-size: 15px;
}

header {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    padding: 30px;
}

.gradphoto{
    box-shadow: 8px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    
    
}
.gradphoto:hover{
    translate: 10px, 20px;
}
.landing{
    height: 90%;
}
.landing h1{
    color: grey;
    width: fit-content;
    display: block;
    margin: auto;
}
.background1{
    object-fit: cover;
}
.words{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}



/* nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#7c36f4 ;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.txt-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.txt-box h1{
    font-size: 62px;
}
.txt-box p{
    margin: 10px;
    font-size: 14px;
    color: white;
}
.push-box{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 30px; 
    font-size: 13px;
    background: transparent;
    position: relative; 
    cursor: pointer;
}
.push-box:hover{
    border: 1px solid #7c36f4;
    background: #7c36f4;
    transition: 1s;
}
@media(max-width:700px){
    .txt-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #7c36f4;
        height: 100vh;
        width: 200px;
        top: 0;
        right:0;
        text-align: left;
        z-index: 2;
    }
}
/*---about---*/
/* .about{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;

}
.about h1{
    font-size: 36px;
    font-weight: 600;
}
.about p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
} */
/*---Features---*/
/* .features{
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 100px
}
.row{
    margin: 5%;
    justify-content: space-between;
    display: flex;

}
.features-col{
    flex-basis: 32%;
    
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.features-col img{
    width: 100%;
}
.features-col:hover{
    box-shadow: 0 0 20px 0 black;
}
h3{
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.p-white{
    color: white;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
} */