body,html {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.icon{
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 100;
    object-position: 30%, 50px;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0; 
    z-index: 99;
    transition: top 0.3s;
    justify-content: space-between;
}
.links{
    padding-right: 60px;
}
.links ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 8px 20px;

}
.links ul li a{
    color: rgb(96, 96, 96);
    font-size: 20px;
    text-decoration: none;
    padding: 10px;

}
.links ul li a:hover{
    background-color: green;
    transition: 0.5s;
    color: black;

}
.links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
header {
    color: rgb(234, 49, 49);
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    font-size: 3em;
    font-weight: 900;
}
.gradphoto{
    box-shadow: 8px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 20%;
    margin: auto;
    margin-bottom: 50px;
    display: block;
    top: 50px;
}
.gradphoto :hover{
    translate: 10%, 20%;
}
.landing{
    height: 80%;
    padding-top: 5%;

}
.landing h1{
    color: grey;
    width: fit-content;
    font-size: 3em;
    font-weight: 700;    margin: auto;
    margin-bottom: 50px;
}
.second{
    position: relative;
    height: 100%;
    background-color: gray;
}
#second{
    scroll-behavior: smooth;
}
.background1{
    object-fit: cover;
    width: 50%;
    height: 600px;
    border-radius: 10%;    
    margin: 20px;
}
.words{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 30%;
    display: block;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 12%;
    transform: translate(-10%, -25%);
    margin: 20px;
}
.about{
    width: 40%;
}
.third{
    height: 100%;
}
@media(max-width:700px){
    .gradphoto{
        width: 300px;
        height: 200px;
    }

}



/* nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#7c36f4 ;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}
.txt-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.txt-box h1{
    font-size: 62px;
}
.txt-box p{
    margin: 10px;
    font-size: 14px;
    color: white;
}
.push-box{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 30px; 
    font-size: 13px;
    background: transparent;
    position: relative; 
    cursor: pointer;
}
.push-box:hover{
    border: 1px solid #7c36f4;
    background: #7c36f4;
    transition: 1s;
}
@media(max-width:700px){
    .txt-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #7c36f4;
        height: 100vh;
        width: 200px;
        top: 0;
        right:0;
        text-align: left;
        z-index: 2;
    }
}
/*---about---*/
/* .about{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 100px;

}
.about h1{
    font-size: 36px;
    font-weight: 600;
}
.about p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
} */
/*---Features---*/
/* .features{
    background-color: rgb(47, 47, 47);
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 100px
}
.row{
    margin: 5%;
    justify-content: space-between;
    display: flex;

}
.features-col{
    flex-basis: 32%;
    
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.features-col img{
    width: 100%;
}
.features-col:hover{
    box-shadow: 0 0 20px 0 black;
}
h3{
    color: white;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.p-white{
    color: white;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
} */